<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Pink cake
        meta(property="og:title" content="  Pink cake")
        meta(property="og:site_name" content="  Pink cake")
        meta(property="og:locale" content="zh_TW")
        link(href="https://use.fontawesome.com/releases/v5.8.2/css/all.css", rel="stylesheet")
        link(href="css/all.css", rel="stylesheet")
        script(src="https://code.jquery.com/jquery-3.4.1.min.js")
    body
     header
      nav.m-navbar.m-navbar.m-navbar_abs_top.js-m-navbar.is-fixtop
      
        .container.px-xl-4
          h1.h-hide-text
            a(href="index.html", title="LOGO",style="background-image: url('img/logo_w.png')").e-brand
              |  Pink cake
          ul.m-navbar__list.js-m-navbar__list
            li
              a(href="index.html", title="title").m-navbar__link
               i.fas.fa-home
               | Home
            li
              a(href="cart.html", title="title").m-navbar__link
                 i.fas.fa-shopping-cart
                 | Order
            li 
              a(href="login.html", title="title").m-navbar__link
                 i.fas.fa-user
                 |  Login
          .m-navbar__button.js-m-navbar__button
            .m-navbar__button-open
            .m-navbar__button-close
      .m-hero
        .container.px-0
         .m-hero__bg
           .m-hero__content
            h2.m-hero__title.h-t1
                 | Pink cake
            p  Treat yourself with a sweet
     section  
        .container.px-md-4
             .row
               //-
                  購物選單
               .col-xl-3.mt-5
                 nav.m-carts-menu
                   h3.m-carts-menu__title
                    img.e-img.m-carts-menu__e-img(src="img/cart_icon.png",alt="cart_ucon")
                    |Online Order
                   ul.m-carts-menu__list
                    li
                      a.m-carts-menu__link
                       | All items
                       span   (25)
                    li
                      a.m-carts-menu__link
                       |Cake
                       span  (14)
                    li
                       a.m-carts-menu__link
                        |Puff
                        span  (7)
                    li
                      a.m-carts-menu__link.is-active
                        |Hot Products  
                        span  (4)
                    li
                      a.m-carts-menu__link
                        |Bread  
                        span  (4)
                    li
                      a.m-carts-menu__link
                        | Bagel  
                        span  (4)
                              //-購物主頁  
               .col-xl-9.mt-5
                   
                   .row  
                     .col-12.col-xl-8.mb-1
                       .e-form-search
                         input(type="text",placeholder="Search...")
                         button
                          i.fa.fa-search
                     .col-12.col-xl-4.mb-1
                       .m-buy
                         a.m-buy__link SHOPPING CART
                         a.m-buy__link.h-t2
                          i.fas.fa-shopping-cart(data-quantity="1")
                          span.m-buy__number  5
                       //-購物欄
                   .row
                     .col-12.col-sm-6.col-md-4.mt-3 
                      .m-card.h-shadow.mx-auto.mb-3
                       .e-like  
                        input(type="checkbox",id="heart1")
                        label(for="heart1")
                       
                       .e-ribbon.e-ribbon_top-right.e-ribbon_danger
                          .e-ribbon__label Hot
                       img.m-card__img(src="img/product_1_desktop.png",alt="")
                       .m-card__body 
                         h3.m-card__title  Passion Fruit Tart
                         span.m-card__sub-title classic  package
                         span.m-card__pric    130
                         a.m-card__button.m-card__button_success
                          i.fas.fa-shopping-cart(data-quantity="1")  ADD TO BAG
                     .col-12.col-sm-6.col-md-4.mt-3
                      .m-card.h-shadow.mx-auto.mb-3
                       .e-like  
                        input(type="checkbox",id="heart2")
                        label(for="heart2")
                      
                       img.m-card__img(src="img/product_2_desktop.png",alt="Classic Mille Crêpe")
                       .m-card__body 
                         h3.m-card__title  Mille Crêpe
                         span.m-card__sub-title Hot Products

                         span.m-card__pric    120
                         a.m-card__button.m-card__button_success
                          i.fas.fa-shopping-cart(data-quantity="1")   ADD TO BAG           
                     .col-12.col-sm-6.col-md-4.mt-3
                      .m-card.h-shadow.mx-auto.mb-3
                       .e-like  
                        input(type="checkbox",id="heart3")
                        label(for="heart3")
                    
                       img.m-card__img(src="img/product_3_desktop.png",alt="Sponge Cheese Cake")
                       .m-card__body 
                         h3.m-card__title  Cheese Cake
                         span.m-card__sub-title Hot Products

                         span.m-card__pric    234
                         a.m-card__button.m-card__button_success
                          i.fas.fa-shopping-cart(data-quantity="1")   ADD TO BAG
                     .col-12.col-sm-6.col-md-4.mt-3
                      .m-card.h-shadow.mx-auto.mb-3
                       .e-like  
                        input(type="checkbox",id="heart4")
                        label(for="heart4")
                       .e-ribbon.e-ribbon_top-right.e-ribbon_info
                        .e-ribbon__label  NEW 
                       img.m-card__img(src="img/product_4_desktop.png",alt=" Cherry Black")
                       .m-card__body 
                         h3.m-card__title  Cherry Black Pie
                         span.m-card__sub-title Hot Products

                         span.m-card__pric    80
                         a.m-card__button.m-card__button_success
                          i.fas.fa-shopping-cart(data-quantity="1")   ADD TO BAG 
     
     

     footer.l-footer.pt-5.pb-1
        .container.px-md-4
         .row
          .col-xl-4.mb-3.mb-xl-0
            h2.mb-1 About Us 
            p 
              |Curabitur lobortis id lorem id bibndum. Ut id consectetur magna.
              | Quisque volutpat augue enim, pulvinar lobortis nibh lacinia at.
          .col-xl-4.mb-3.mb-xl-0
            h2.mb-1 Contact Us
            ul.l-footer__connection
              li Now where
              li +886 3939 889
              li service@gmail.com
          .col-xl-4.mb-3.mb-xl-0
            .l-footer__company
              h1.h-hide-text.mb-2
                a(href="index.html", title="logo",style="background-image: url('img/logo_w@.png')").e-brand.e-brand_size_lg
              .l-footer__social
                a(href="#", title="title")
                 i.e-icon.e-icon_facebook.fab.fa-facebook-square
                a(href="#", title="title")
                 i.e-icon.e-icon_twitter.fab.fa-twitter-square
                a(href="#", title="title")
                 i.e-icon.e-icon_youtube.fab.fa-youtube-square
                a(href="#", title="title")
                 i.e-icon.e-icon_instagram.fab.fa-instagram
         .row 
           .l-footer__copyright.mx-auto
            p.h-text-center   Copyright © pink cake
             a(href="#", title="title")
          
             a(href="#", title="title") 竹白切版練習
         //-
           back to top     
     .e-backtop-btn.js-e-backtop-btn 
        i.fas.fa-arrow-up
        span TOP 
     script(src="js/all.js")                      